.flex-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;

    @include mobile {
        display: grid;
        grid-template-columns: auto;
    }

    @include tablet {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.caja{
    border: 1px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    border: 3px;

    @include mobile {
        max-width: auto;
        max-height: auto;
        padding: auto;
        border: 3px;
    }

@include tablet {
    max-width: auto;
    max-height: auto;
    padding: auto;
    border: 3px;
}
}