@mixin parrafos{
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: auto;

    @include tablet {
        height: auto;
        width: auto;
    }

    @include mobile {
        height: auto;
        width: auto;
    }
}
h1{
    font-family: 'Roboto', sans-serif;
}

h2{
    @include parrafos;
}

h3{
    @include parrafos;
}

h4{
    @include parrafos;
}

p{
    @include parrafos;
}